{% extends "base.html" %}
{% block title %}Capture{% endblock %}

{% block head %}
<style type="text/css">
  .applet {
    margin: 1em;
    padding: 0;
    border: 3px double black;
    width: 95%;
    height: 100px;
  }
  applet {
    width: 100%;
    height: 100px;
  }
</style>
{% endblock %}
{% block content %}
<h1>{{ name }} </h1>
{% include "inline_capture_fragment.html" %}

<script type="text/javascript">
    $("#new-capture-input").val("{{ name }}");
    $("#new-capture")[0].dispatchEvent(new MouseEvent("click", { view: window, bubbles: true, cancelable: true }));
    $("#new-capture-div").remove();
</script>
{% endblock %}
