{% extends "base.html" %}
{% load ezscreens %}
{% block head %}
<style type="text/css">
  button { margin-left: 1em }
  input { height: 2em }
  .blank { font-style: italic; color: grey; }
</style>
<script type="text/javascript">
  $(document).ready(function() {
      $("button").button();

      var defaultValue =
              "Set a name for your new capture or leave blank for a default";
      $("input").focus(function() {
          if ($("input").val() == defaultValue) {
              $("input").val("");
          }
          $("input").removeClass("blank");
      });
      $("input").blur(function() {
          if ($("input").val().trim() == "") {
              $("input").val(defaultValue);
              $("input").addClass("blank");
          }
      });
      $("input").val(defaultValue);
      $("input").addClass("blank");
      $("button").click(function() {
          var name = $("input").val();
          if (name == defaultValue)
              name = "{{ defaultName }}";
          location = "/capture/" + name;
      });
  });
</script>
{% endblock %}
{% block content %}
<div>
  <input size="64" type="text"/><button>New capture</button>
</div>
<h1>Recent captures</h1>
{% if screenshots %}
  <table>
  <colgroup>
    <col width="50%"/>
    <col/>
    <col/>
    <col width="200"/>
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Views</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
  {% for shot in screenshots %}
    <tr>
      <td>
        <a href="/view/{{ shot.key.name|urlencode }}">{{ shot.name }}</a>
      </td>
      <td>{{ shot.create_ts }}</td>
      <td>{{ shot.views }}</td>
      <td>
        <a href="/view/{{ shot.key.name|urlencode }}">
        <img src="{{ shot|image_url:180 }}"/>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
<div class="ui-widget">
  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-info"
            style="float: left; margin-right: .3em;"></span>
        <span>
          No images have been captured by anonymous users yet
        </span>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
