<div id="new-capture-div">
<input id="new-capture-input" size="64" type="text"/>
<button id="new-capture">New capture</button>
<button id="new-capture-reset" style="visibility: hidden">Reset</button>
</div>

<div id="applet-container-outer" style="display: none">
<h3>Paste your image into the box below (right click to bring up a menu)</h3>
<div id="applet-container" class="applet">
</div>
  <p>
    Note:  consider resizing or moving the browser window out of the
    way before selecting <em>Capture screen region</em>.  If the
    browser window covers the region you wish to capture, you will
    be unable to take a screenshot of the desired area.
  </p>
  <p>
    If a paste menu does not appear when right clicking, try clicking the
    reset and new capture button again.
  </p>
</div>

<div id="no-applet-support" style="display: none" class="ui-widget">
  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-info"
            style="float: left; margin-right: .3em;"></span>
        <span>
          In order to have capturing functionality, Java 1.6 and the java
          plugin for your web browser must be installed.
        </span>
    </p>
  </div>
</div>
<script type="text/javascript" src="/js/inline_capture_script.js"></script>
