{% extends "base.html" %}
{% load ezscreens %}
{% block title %}My Captures{% endblock %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    $('#delete-dialog').dialog({
        autoOpen: false,
        modal: true,
        width: 400,
        buttons: {
            "Delete": function() {
                var d = document.getElementById("delete-dialog");
                throb();
                POST('/delete/' + d.captureToDelete, null,
                        function(data) {
                            throb(false);
                            $('#row-' + d.rowToDelete).remove();
                        },
                        function (xhr) {
                            throb(false);
                            alert("Could not delete: " + xhr.status);
                        });
                $(this).dialog('close');
            },
            "Cancel": function() {
                $(this).dialog('close');
            },
        }
    });
});
</script>
{% endblock %}
{% block content %}
{% include "inline_capture_fragment.html" %}
<h1>My Captures</h1>
{% if screenshots %}
  <table>
  <colgroup>
    <col width="50%"/>
    <col/>
    <col/>
    <col width="200"/>
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Views</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
  {% for shot in screenshots %}
    {% uuid as rowid %}
    <tr id="row-{{ rowid }}">
      <td>
        <a href="/view/{{ shot.key.name|urlencode }}">{{ shot.name }}</a>
        [<a id="delete-{{ rowid }}" href="#">delete</a>]
        <script type="text/javascript">
          $('#delete-{{ rowid }}').click(function() {
              $('#delete-dialog').dialog('open');
              var d = document.getElementById('delete-dialog');
              d.rowToDelete = "{{rowid}}";
              d.captureToDelete = "{{ shot.key.name|urlencode }}";
              return false;
          });
        </script>
      </td>
      <td>{{ shot.create_ts }}</td>
      <td>{{ shot.views }}</td>
      <td>
        <a href="/view/{{ shot.key.name|urlencode }}">
          <img src="{{ shot|image_url:180 }}"/>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
<div class="ui-widget">
  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-info"
            style="float: left; margin-right: .3em;"></span>
        <span>
          No images have been captured yet
        </span>
    </p>
  </div>
</div>
{% endif %}
<div id="delete-dialog" style="display: none">
  <p>
    Are you sure you want to delete this capture?
    This cannot be undone.
  </p>
</div>
{% endblock %}
